.App {
  text-align: center;
}
body{
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  background-repeat:no-repeat;
  margin-bottom: 200px;
}
h1{
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family:'Courier New', Courier, monospace;
}
p{
  color: white;
  font-size: 45px;
  font-weight: bold;
  font-family:'Courier New', Courier, monospace;
}
h2{
  color: white;
  font-size: 120px;
  font-weight: bold;
  font-family:'Courier New', Courier, monospace;
  margin-top:-20px;
}

#btns{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}
button{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-size: 45px;
  border-width: 1px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.32); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.32);
}
button:hover{
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,253,57,1) 100%);
  cursor: pointer;
  animation-duration: 2s;

}
#reset-btn{
  width:120px;
  height: 120px;
  margin-top: 14px;
}
#adding-btn, #minus-btn{
  width:90px;
  height: 90px;
  margin-top: 14px;
}